<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Edit <%= resource_name.to_s.humanize %>
      </h1>
      <h2 class="subtitle">
        <%= "#{current_user.email}" %>
      </h2>
      <h3>
        <%= yield(:date) %>
      </h3>
      <div class="columns">
        <div class="column is-two-fifths">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email, class: "label" %><br />
              <div class="control">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <div class="control">
                <%= f.password_field :password, class: 'input', autocomplete: "new-password" %>
                <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <div class="control">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
              </div>
            </div>

            <div class="field">
              <%= f.label :current_password%> <i>(we need your current password to confirm your changes)</i><br />
              <div class="control">
                <%= f.password_field :current_password, autocomplete: "current-password", class: 'input' %>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "Update", class: "button is-link" %><br />
            </div>
          <% end %>

          <h3 class="subtitle">
            <br />Cancel my account
          </h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-link" %></p><br />

          <%= link_to "Back", :back, class: "button is-link" %>

        </div>
      </div>
    </div>
  </div>
</section>