<li id="calorie-<%= calorie.id %>">
  <span class="activity"><%= calorie.activity %></span>
  <span class="type"><%= calorie.type_gained ? "Gained" : "Burned" %></span>
  <span class="date">
    Posted <%= time_ago_in_words(calorie.date) %> ago.
  </span>
  <span class="edit"><%= link_to "edit", edit_calorie_path(calorie.id) %></span>
  <span class="activity">
    <% if current_user == calorie.user %>
     | <%= link_to "delete", calorie, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  | <span class="user"><%= link_to "show", calorie %></span>
  </span>
</li>