<tr id="calorie-<%= calorie.id %>">
  <td class="activity"><%= calorie.activity %></td>
  <td class="type"><%= calorie.type_gained ? "Gained" : "Burned" %></td>
  <td class="date">
    Posted <%= time_ago_in_words(calorie.date) %> ago.
  </td>
  <td class="edit"><%= link_to "edit", edit_calorie_path(calorie.id) %>
    <% if current_user == calorie.user %>
     | <%= link_to "delete", calorie, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  | <%= link_to "show", calorie %>
  </td>
</tr>