<% provide(:title, "Tracking progress") %>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Track my progress
      </h1>
      <div class="columns">
        <div class="column is-four-fifths">
          <%= content_tag :div, "", id: "calories_chart", data: {calories: calories_chart_data} %>
          <div class="column is-two-fifths">
            <%= form_for(:track_reset, url: track_resets_path) do |f| %>
              <div class="field">
                <%= f.label :email, 'Share your progress', class: 'label' %>
                <div class="control">
                  <%= f.email_field :email, class: 'input' %>
                </div>
              </div>
              <%= f.submit "Submit", class: "button is-link" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  new Morris.Line({
    element: 'calories_chart',
    data: $('#calories_chart').data('calories'),
    xkey: 'date',
    ykeys: ['gained_number', 'burned_number'],
    labels: ['Gained calories', 'Burned calories'],
    hideHover: 'auto'
  });
</script>

