<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Log in
      </h1>
      <div class="columns">
        <div class="column is-two-fifths">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: 'label' %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password, class: 'label' %>
            <div class="control">
              <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <label>
                <%= f.check_box :remember_me, class: 'checkbox' %>
                <%= f.label :remember_me, type: 'checkbox' %>
              </label>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: "button is-light" %>
          </div>
        <% end %>

        </br>
        <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</section>

