<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="<%= asset_path('TRAFICAL.png') %>" width="112" height="28">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a>
        <%= link_to "Home", root_path, class: "navbar-item"  %>
      </a>
      <% if user_signed_in? %>
        <a>
          <%= link_to "Register calories", new_calorie_path, class: "navbar-item"  %>
        </a>
        <a>
          <%= link_to "Registers", calories_path, class: "navbar-item"  %>
        </a>
      <% end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
          <a>
            <%= link_to "Track my progress", track_path, class: "button is-light"  %>
          </a>
          <a>
            <%= link_to "Edit profile", edit_user_registration_path, class: "button is-light"  %>
          </a>
          <a>
            <%= link_to raw("<strong>Logout</strong>"), destroy_user_session_path, method: :delete, class: "button is-light"  %>
          </a>
          <% else %>
          <a>
            <%= link_to raw("<strong>Sign up</strong>"), new_user_registration_path, class: "button is-primary"  %>
          </a>
          <a>
            <%= link_to "Login", new_user_session_path, class: "button is-light"  %>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>